.abt-cont {
  background-color: #567eff;
  margin-top: -8rem;
  padding-top: 2rem;
}

@media only screen and (max-width: 1024px) {
  .p1,
  .p2 {
    font-size: 16px;
    text-align: center;
  }
}

.commit-btn {
  color: #567eff;
  animation: top-down 5s ease-in-out 0s infinite normal both;
}
.commit-btn a {
  color: #3c62e1;
}

.bg-color {
  background-color: #567eff;
}

.light-color {
  background-color: white;
}

.from-txt,
.to-txt {
  color: white;
}

@keyframes top-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.commit-side-img {
  animation: move 4s infinite 0s;
}

@keyframes move {
  0% {
    transform: rotate(2deg);
    translate: (2px, 2px);
  }
  50% {
    transform: rotate(-2deg);
    translate: (-2px, -2px);
  }
  100% {
    transform: rotate(2deg);
    translate: (2px, 2px);
  }
}
