.main-footer-data {
  background-color: #d3def7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.txt {
  color: #392d82;
  font-weight: bold;
}

.bh:hover {
  color: black;
}
.e:hover {
  text-decoration: underline;
}

.f {
  color: #0645ad;
}
.i {
  color: #a44eac;
}

.l {
  color: #0a66c2;
}

.x {
  color: rgb(175, 168, 168);
}
.footer-hover a {
  color: #2e50c0;
}

@media only screen and (max-width: 1024px) {
  .footer-data {
    font-size: 0.1em !important;
  }
  .main-footer-data {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}
